* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

.clearfix::after {
    content: "" ;
    display: table ;
    clear: both ;
}

.larghezza-centrale {
    width: 80% ;
    margin: 0 auto ;
}

header {
    width: 100% ;
    background-color: #255ee9 ;
}



.float {
    float: left ;
}

nav {
    height: 80px ;
    line-height: 80px ;
}

#logo-nav {
    background-image: url(../img/logo.svg) ;
    background-repeat: no-repeat ;
    background-size: contain ;
    width: 15% ;
    height: 80px ;
}

#link-nav {
    width: 60% ;
    height: 80px ;
    text-align: center ;

}

#link-nav ul {
    list-style: none ;
}

#link-nav li {
    display: inline ;
}

li a {
    text-decoration: none ;
    padding: 0 0.5em ;
    color: white ;
}

#login-nav {
    width: 15% ;
    height: 80px ;
    text-align: right ;
}

.link-bianco-piccolo {
    background-color: white ;
    padding: 0.3em 0.5em ;
    border-radius: 0.8em ;
    font-size: 0.8em ;
    color: black ;
}

.link-bianco-grande {
    background-color: white ;
    padding: 0.5em 0.7em ;
    border-radius: 1em ;
    font-size: 1em ;
    color: black ;
    margin: 0.5em 0.5em ;

}

.link-nero-grande {
    background-color: black ;
    padding: 0.5em 0.7em ;
    border-radius: 1em ;
    font-size: 1em ;
    color: white ;
    margin: 0.5em 0.5em ;

}

.banner {
    width: 100% ;
    height: 65vh ;
    background-image: url(../img/jumbo.png) ;
    background-size: cover ;
    position: relative ;

}

.claim {
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    color: white ;
    text-align: center ;
    padding: 1em ;
}






