* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

.clearfix::after {
    content: "" ;
    display: table ;
    clear: both ;
}

.larghezza-centrale {
    width: 80% ;
    height: 65vh ; 
    margin: 10% auto ;

}

header {
    width: 100% ;
    background-color: #255ee9 ;
}


.float-sx {
    float: left ;
}

nav {
    height: 80px ;
    line-height: 80px ;
    width: 80% ;
    margin: 0 auto ;
}

.contenitore-logo {
    width: 15% ;
    height: 80px ;



  
  
}

#logo-nav {
    background-image: url(../img/logo.svg) ;
    background-repeat: no-repeat ;
    background-size: contain ;
    height: 40px ;
    margin: 20px 0 ;

    
    
    
    
}

#link-nav {
    width: 60% ;
    height: 80px ;
    text-align: center ;
    margin-left: 20px ;
  

}

#link-nav ul {
    list-style: none ;
}

#link-nav li {
    display: inline ;
}

li a {
    text-decoration: none ;
    padding: 0 1em ;
    color: white ;
}

#login-nav {
    width: 15% ;
    height: 80px ;
    text-align: right ;
}

.link-bianco-piccolo {
    background-color: white ;
    padding: 0.4em 0.6em ;
    border-radius: 1em ;
    font-size: 0.8em ;
    color: black ;
}

.link-bianco-grande {
    background-color: white ;
    padding: 0.5em 0.7em ;
    border-radius: 1em ;
    font-size: 1em ;
    color: black ;
    margin: 0.5em 0.5em ;
    display: inline-block;

}

.link-nero-grande {
    background-color: black ;
    padding: 0.5em 0.7em ;
    border-radius: 1em ;
    font-size: 1em ;
    color: white ;
    margin: 0.5em 0.5em ;
    display: inline-block;

}

.banner {
    width: 100% ;
    height: 65vh ;
    padding: 6.5em;
    background-image: url(../img/jumbo.png) ;
    background-size: cover ;
    position: relative ;

}

.claim {
    width: 50% ;
    margin: 0 auto ;
   /*  position: absolute ;
   top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%); */
    color: white ;
    text-align: center ;
    
}

.claim p {
    margin: 1em;
}




#contenitore {
    width: 100% ;
    height: 100% ;
}

#img-rana {
    width: 60%
}

#img-mago {
width: 60% ;

}


.testo-sezioni {
    width: 40% ;

    
}




